extends template.pug

block isi
	.alert.alert-info
		.close.logout &times;
		| Halo #[span.usernamenya]
	.list-group.postingannya

	.modal.modalLogin(data-backdrop='static')
		.modal-dialog
			.modal-content
				.modal-header
					h4.modal-title Login dulu
				.modal-body
					form.formLogin
						.form-group
							label Username
							input.form-control.loginUsername
						.form-group
							label Password
							input.form-control.loginPassword(type='password')
						.form-group
							input.btn.btn-success.loginSubmit(value='Login' type='submit')

	.modal.modalTambah
		.modal-dialog
			.modal-content
				.modal-header
					.close(data-dismiss='modal') &times;
					h4.modal-title Tulisan baru
				.modal-body
					form.formTambah
						.form-group
							label Judul
							input.form-control.tambahJudul
						.form-group
							label Isi
							textarea.form-control.tambahIsi(rows=10)
						.form-group
							input.btn.btn-success(type='submit' value='Posting')

	.modal.modalTampil
		.modal-dialog
			.modal-content
				.modal-header
					.close(data-dismiss='modal') &times;
					h4.modal-title.tampilJudul
				.modal-body.tampilIsi
				.modal-footer
					span.pull-left
						.btn.tampilTanggal
					span.pull-right
						.btn.btn-default.tampilEdit Edit
						| &nbsp;
						.btn.btn-danger.tampilEdit Hapus

block diLuarContainer
	.navbar.navbar-default.navbar-fixed-bottom
		.container
			table.table.table-bordered
				tbody 
					tr 
						td: .btn.btn-primary.tambahBaru Tambah

block css
	include:uglify-css:stylus index.stylus

block js
	include:uglify-js:babel(presets=['env']) index.js